body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b2c6cb;
}

.temperature-converter {
    margin-top: 50px;
    width: 400px;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 40px;
    background-color: #f0f0f0;
    margin-right: 10px;
}

.input-field {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#temperature-input {
    width: 60%;
    height: 30px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

#temperature-unit {
    width: 30%;
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

#convert-button {
    width: 100%;
    height: 30px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
}

.output-field {
    margin-top: 20px;
}

#converted-temperature {
    font-size: 24px;
    font-weight: bold;
}